<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit article</title>
</head>
<body>
<h1>Edit article</h1>
<p>
    <a th:href="@{/user/article/list}">Article list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-article}" th:object="${article}" method="post" id="edit_form">
    <label for="id"></label><input th:type="hidden" name="id" th:field="*{id}" id="id">
    <ul>
        <li><label for="title">Title: </label><input type="text" th:field="*{title}" id="title"/></li>
        <li><label for="category">Category: </label>
            <select th:field="*{category}" id="category">
                <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
        </li>
        <li><label for="author">Author: </label><input type="text" th:field="*{author}" id="author"/></li>
        <li><label for="publish_date">Publish Date: </label><input type="text" th:field="*{publishDate}" id="publish_date"/></li>
    </ul>
    <label for="content">Content: </label><textarea th:field="*{content}" id="content" cols="30" rows="10" form="edit_form"></textarea>
    <input type="submit" value="Update Article">
</form>
</body>
</html>