<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <style>
        p {
            width: 800px;
        }
    </style>
</head>
<body>
<h2 th:text="'Title: ' + ${article.title}"></h2>
<h3 th:text="'Category: ' + ${article.category.name}"></h3>
<h3>Content: </h3>
<p th:utext="${article.content}"></p>
<h3 th:text="'Author: ' + ${article.author}"></h3>
<h3 th:text="'Publish Date: ' + ${#dates.format(article.publishDate,'dd-MM-yyyy')}"></h3>
</body>
</html>