<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.delete}"></title>
</head>
<body>
<span th:text="#{global.language}+${': '}"></span>
<a th:href="@{/customer/delete/__${customer.id}__/(lang=en)}" th:text="#{global.english}">English</a> |
<a th:href="@{/customer/delete/__${customer.id}__/(lang=vi)}" th:text="#{global.vietnamese}">Vietnamese</a>
<h1><a th:href="@{/home/}" th:text="#{global.home}"></a></h1>
<h1 th:text="#{customer.delete}">Delete customer</h1>
<h2 th:text="#{global.confirm}">Are you sure?</h2>
<p>
    <a th:href="@{/customer/list}" th:text="#{customer.list}"></a>
</p>
<form th:action="@{/customer/delete}" th:object="${customer}" method="post">
    <label for="id"></label><input th:type="hidden" name="id" th:field="*{id}" id="id">
    <table>
        <tr>
            <td th:text="#{customer.first_name}+${': '}"></td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{customer.last_name}+${': '}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{global.delete}"></td>
        </tr>
    </table>
</form>
</body>
</html>