<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <style th:replace="layout :: style_for_header"></style>
    <style th:replace="layout :: style_for_footer"></style>
    <link th:replace="layout :: bootstrap_lib">
    <script th:replace="layout :: jquery_lib_1"></script>
    <script th:replace="layout :: jquery_lib_2"></script>
    <script th:replace="layout :: jquery_lib_3"></script>
</head>
<body>
<div th:replace="layout :: header"></div>
<h1> Dear <span th:text="${user}"></span><spam></spam> Welcome to DBA Page</h1>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/admin}">admin</a> | <a th:href="@{/logout}">Logout</a>
</div>
<div th:replace="layout :: footer"></div>
</body>
</html>