<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Custom User Login</title>
    <style th:replace="layout :: style_for_header"></style>
    <style th:replace="layout :: style_for_footer"></style>
    <link th:replace="layout :: bootstrap_lib">
    <script th:replace="layout :: jquery_lib_1"></script>
    <script th:replace="layout :: jquery_lib_2"></script>
    <script th:replace="layout :: jquery_lib_3"></script>
</head>
<body>
<div th:replace="layout :: header"></div>
<div>
    <p th:if="${param.error}" class="error">Invalid username or password</p>
    <p th:if="${param.logout}" class="success">You have been logged out</p>
    <h3>Login to continue</h3>
</div>
<form th:action="@{/appLogin}" method="post">
    <label><span>Username: </span>
        <input type="text" name="ssoId" placeholder="Enter username" value="member">
    </label><br>
    <label><span>Password: </span>
        <input type="password" name="password" placeholder="Enter password" value="123456">
    </label><br>
    <input type="submit" th:value="Login">
    <a th:href="@{/register}">Register</a>
</form>
<div th:replace="layout :: footer"></div>
</body>
</html>