<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <style th:replace="layout :: style_for_header"></style>
    <style th:replace="layout :: style_for_body"></style>
    <style th:replace="layout :: style_for_footer"></style>
    <link th:replace="layout :: bootstrap_lib">
    <script th:replace="layout :: jquery_lib_1"></script>
    <script th:replace="layout :: jquery_lib_2"></script>
    <script th:replace="layout :: jquery_lib_3"></script>
</head>
<body>
<div th:replace="layout :: header"></div>
<span th:if="${message}" th:text="${message}"></span>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label><span>Username: </span>
        <input type="text" th:field="*{username}" placeholder="Enter username">
    </label><br>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Name Error</p>
    <label><span>Password: </span>
        <input type="password" th:field="*{password}" placeholder="Enter password">
    </label><br>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Name Error</p>
    <input type="submit" th:value="Register">
    <a th:href="@{/login}">Login</a>
</form>
<div th:replace="layout :: footer"></div>
</body>
</html>