<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{province.view}"></title>
</head>
<body>
<span th:text="#{global.language}+${': '}"></span>
<a th:href="@{/province/view/(lang=en)}" th:text="#{global.english}">English</a> |
<a th:href="@{/province/view/(lang=vi)}" th:text="#{global.vietnamese}">Vietnamese</a>
<h1><a th:href="@{/home/}" th:text="#{global.home}"></a></h1>
<h1><span th:text="${province.name}"></span></h1>
<a th:href="@{/province/list}" th:text="#{province.list}"></a>
<table border="1">
    <tr>
        <th th:text="#{customer.first_name}"></th>
        <th th:text="#{customer.last_name}"></th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>